<% unless @poll_posts.empty? %>
  <% if @result != true %>
    $('h3.post-feed').hide();
    $('div.poll')
          .html("<%= @poll_posts_count %> new <%= "post".pluralize(@poll_posts_count) %> added." + "<a href='' id='poll'> Click Here!</a>")
          .addClass("alert alert-info")
          .click(function(){
              $('.pre-posts')
                     .prepend('<%= j render( partial: "polls/polls", locals: { :@poll_posts => @poll_posts }) %>');
          });
  <% end %>
<% end %>
